body {
    font-family: Arial;
    margin: 0;
    padding: 0;
}

.top {
    background-color: #1F2937;
    color: #ffffff;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 240px;
    margin-bottom: 48px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.header ul {
    display: flex;
    gap: 18px;
    list-style: none;
}

.hero {
    display: flex;
    gap: 60px;
    padding: 60px 240px;
}

.hero-text {
    flex: 1;
}

.hero-text-main {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 8px;
}

.hero-text-sub {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 8px;
}

.hero-text button {
    font-size: 16px;
    color: white;
    background-color: #3882F6;
    border-radius: 8px;
    padding: 8px 16px;
    border: none;
}

.hero-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-self: center;
}

.hero-image img{
    max-width: 100%;
    height: auto;
}

.information {
    text-align: center;
    padding: 0 300px;
    margin-bottom: 60px;
}

.information-head {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    color: #1F2937;
    padding: 48px;
}

.information-body {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.info img{
    max-width: 180px;
    border-radius: 25%;
    border: 5px solid #3882F6;
}

.text {
    background-color: #E5E7EB;
    padding: 60px 240px;
    display: flex;
    flex-direction: column;
}

.text-quote1 {
    font-size: 36px;
    font-style: italic;
    padding: 48px;
}

.text-quote2 {
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
    font-weight: bold;
    padding: 0 48px;
}

.sign-up1 {
    padding: 60px 240px;
    margin-bottom: 60px;
}

.sign-up2 {
    background-color: #3882F6;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    border-radius: 12px;
    padding: 24px 48px;
}

.call {
    font-size: 24px;
    font-weight: bold;
}

.sign-up-button button {
    font-size: 16px;
    color: white;
    background-color: #3882F6;
    border-radius: 8px;
    padding: 8px 16px;
    border: 2px solid white;
}

.footer {
    background-color: #1F2937;
    color: white;
    text-align: center;
    padding: 48px;

}
